.my-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 800px) {
    .my-form {
        justify-content: space-around;
        flex-direction: row;
}
}


/* d-flex justify-content-around my-form */